*{
	font-family:微軟正黑體;
	position:relative;
}

html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:#ddd;
	border-bottom:5px solid #49a942;
	border-top:5px solid #49a942;
	overflow:hidden;
}

.button{
	display:inline-block;
	padding:1%;
	margin:0 2%;
	padding-left:1%;
	padding-right:1%;
	letter-spacing:1px;
	background-color:#49a942;
	color:white;
	border-bottom:7px solid #2dde98;
}

.nar{
	background-color:#49a942;
	text-align:center;
	margin:0;
	padding:0;
}

.carte{
	width:40%;
	height:50%;
	margin:8% auto 0 auto;
	padding:2%;
	background-color:#eee;
	background-color:rgba(255,255,255,0.7);
	border-radius:1%;
	overflow:hidden;
	border:solid 1px rgba(0,0,0,0.15);
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);
}

.carte h2{
	padding:0 10px;
	font-size:25pt;
	font-weight:700;
}

.carte h2 span{
	margin-left:10px;
	font-size:12pt;

}

.carte h5{
	padding:0 10px;
	font-size:14pt;
	font-weight:600;
}

.carte p{
	font-size:12pt;
	letter-spacing:2px;
	line-height:25px;
}

.circle{
	width:150px;
	height:150px;
	position:absolute;
	border-radius:100%;
}

.circle1{
	right:265px;
	bottom:-75pt;
	background-color:#49a942;
}

.circle2{
	width:60px;
	height:60px;
	right:-30px;
	top:-30px;
	border:5px solid #49a942;
}

.ic{
	font-size:170pt;
	margin:0 auto;
	text-align:center;
	color:rgba(0,0,0,0.1);
	position:absolute;
	bottom:30%;
}

.one{
	margin-top:5%;
	text-align:center;
}